body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    color: aliceblue;
    flex-direction: column;
}

button:focus { 
    outline-style: none; 
}

* {
    box-sizing: border-box;
}


.header {

}
