.content-wrapper {
    display: flex;
}

.display-wrapper {
    flex: 0 0 60%;
}

.player-wrapper {
    flex: 0 0 40%;
    padding: 50px;
}

.display-wrapper > nav {
    display: flex;
    justify-content: space-around;
}

.button.active {
    background-color: #e55743;
    color:white;
}

.hidden {
    display: none !important
}

